<?xml version="1.0" encoding="utf-8"?>
<PreferenceScreen xmlns:android="http://schemas.android.com/apk/res/android">
    <android.support.v7.preference.PreferenceCategory
        android:title="@string/player">
        <ListPreference
            android:title="@string/settings_speed_min"
            android:defaultValue="60"
            android:key="speed_min"
            android:entries="@array/min_speed_labels"
            android:entryValues="@array/min_speed_values">
        </ListPreference>
        <ListPreference
            android:title="@string/settings_speed_max"
            android:defaultValue="110"
            android:key="speed_max"
            android:entries="@array/max_speed_labels"
            android:entryValues="@array/max_speed_values">
        </ListPreference>
        <ListPreference
            android:title="@string/settings_position_click"
            android:defaultValue="2"
            android:key="position_click_action"
            android:entries="@array/position_action_labels"
            android:entryValues="@array/position_action_values">
        </ListPreference>
        <ListPreference
            android:title="@string/settings_duration_click"
            android:defaultValue="2"
            android:key="duration_click_action"
            android:entries="@array/duration_action_labels"
            android:entryValues="@array/duration_action_values">
        </ListPreference>
    </android.support.v7.preference.PreferenceCategory>
    <android.support.v7.preference.PreferenceCategory
        android:title="@string/lockscreen">
        <CheckBoxPreference
            android:title="@string/settings_enable_lockscreen_skip_to_bookmark"
            android:summary="@string/settings_enable_lockscreen_skip_to_bookmark_description"
            android:defaultValue="true"
            android:key="enable_lockscreen_skip_to_bookmark" />
    </android.support.v7.preference.PreferenceCategory>
    <android.support.v7.preference.PreferenceCategory
        android:title="@string/import_export">
        <Preference android:title="@string/import_playlist" android:key="@string/key_import_playlist" />
        <Preference android:title="@string/export_playlist" android:key="@string/key_export_playlist" />
    </android.support.v7.preference.PreferenceCategory>
</PreferenceScreen>